@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Montserrat:wght@600&family=PT+Serif&family=Pacifico&family=Poppins:wght@200;400;500;600;700&family=Raleway:wght@400;800&family=Roboto:wght@100;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    top: 0;
    z-index: 2;
}
.tabs{
    display: flex;
    flex-direction: row;
}
.tab{
    width: fit-content;
}
.tab a{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: light;
    text-decoration: none;
    color: black;
    margin: 10px 20px;
    display: inline-block;
}
.logo{
    margin: 10px 0px;
    font-family: 'Raleway',sans-serif;
    font-weight:800;
}
#home a{
    color: rgba(206, 171, 83, 0.8);
}
#book{
    background-color: rgba(206, 171, 83, 0.8);
}
#book a{
    color:white;    
}
.hero{
    width: 100%;
    height: 95vh;
    background: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url(/Epicurian_food_restaurant/Images/hero-image.avif);
    background-size: cover;
    background-position: center;
    /* padding-top: 250px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 48px;
}
.resname{
    font-size: 90px;
    font-family: 'Alex brush',cursive;
    color: rgba(255, 213, 106, 0.8);
    margin-top: 150px;
}
.restag{
    font-size: 55px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    padding-bottom: 30px;
}
.hero hr{
    width: 70vw;
}
.fooditems{
    width: 90vw;
    margin-top: 40px;
    margin-right: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.food{
    text-align: center;
    color: white;
    font-family: 'Poppins',sans-serif;
}
.food img{
    width: 95px;
    height: 95px;
    border-image: 0px;
    border-radius: 50px;
    margin-bottom: 15px;
}
.aboutsection{
    width: 100%;
    height: 133vh;
    margin-top: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.about{
    height: fit-content;
    margin-top: 80px;
    padding: 0px 125px 0px 125px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.chefpic{
    height: 520px;
    width: 310px;
    background: url(/Epicurian_food_restaurant/Images/chefpic.webp);
    background-position: center;
    background-size: cover;
}
.cookingpic{
    height: 520px;
    width: 310px;
    margin-top: 30px;
    background: url(/Epicurian_food_restaurant/Images/pexels-yente-van-eynde-2403391.jpg);
    background-position: center;
    background-size: cover;
}
.aboutdetails{
    height: 500px;
    width: 450px;
    margin-top: 30px;
}
.aboutdetails h1{
    font-size: 100px;
    font-family: 'Alex brush',cursive;
    font-weight: 400;
    color: rgba(206, 171, 83, 0.8);
}
.aboutdetails h2{
    font-size: 55px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    line-height: 65px;
    margin-top: -50px;
    color: rgb(67, 67, 67);
}
.aboutdetails p.aboutpara{
    margin-top: 20px;
    font-size: 19px;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    line-height: 33px;
    color: rgb(67, 67, 67);
}
.aboutdetails p.timing{
    margin-top: 20px;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 33px;
    color: rgb(67, 67, 67);
}
.aboutdetails p.timing span{
    font-weight: 700;
}
.aboutdetails p.number{
    margin-top: 20px;
    font-size: 35px;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    color: rgba(206, 171, 83, 0.8);
    letter-spacing: 3px;
}
.stats{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 120px;
}
.statsdetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: rgb(67, 67, 67);
}
.statsdetails span{
    font-size: 35px;
    color: rgba(206, 171, 83, 0.8);
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: -25px;
}
#smallpara{
    width: 300px;
    margin-top: -15px;
    line-height: 26px;
}
.services{
    width: 100%;
    height: 90vh;
    padding: 50px;
    background-color: #f2f2f2;
}
.servicesheadings{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicesheadings h1{
    font-size: 100px;
    font-family: 'Alex brush', cursive;
    font-weight: 400;
    color: rgba(206, 171, 83, 0.8);
}
.servicesheadings h2{
    font-size: 55px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        line-height: 65px;
        margin-top: -60px;
        color: rgb(67, 67, 67);
}
.servicescards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 80px;
}
.cards{
    height: fit-content;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.cards h3{
    margin: 30px 0px 20px 0px;
    font-size: 25px;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
}
.cards p{
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
    color: rgb(67, 67, 67);
    line-height: 35px;
}
.specialitiesheadings{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0px;
}
.specialitiesheadings h1{
    font-size: 100px;
        font-family: 'Alex brush', cursive;
        font-weight: 400;
        color: rgba(206, 171, 83, 0.8);
}
.specialitiesheadings h2{
    font-size: 55px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        line-height: 65px;
        margin-top: -60px;
        color: rgb(67, 67, 67);
}
.menuitems{
    padding: 40px 150px 80px 150px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.item{
    height: 230px;
    width: 300px;
}
#item1{
    background: url(/Epicurian_food_restaurant/Images/alex-munsell-Yr4n8O_3UPc-unsplash.jpg);
    background-size: cover;
    background-position: center;
}
#item3{
    background: url(/Epicurian_food_restaurant/Images/Special-mutton-biryani.jpeg);
    background-size: cover;
    background-position: center;
}
#item6{
    background: url(/Epicurian_food_restaurant/Images/Spaghetti-pasta.jpeg);
    background-size: cover;
    background-position: 0px -35px;
}
#item8{
    background: url(/Epicurian_food_restaurant/Images/coffee-muffins.webp);
    background-size: cover;
    background-position: center;
}
#item9{
    background: url(/Epicurian_food_restaurant/Images/Chicken-pepperoni-pizza.jpeg);
    background-size: cover;
    background-position: center;
}
#item11{
    background: url(/Epicurian_food_restaurant/Images/Blueberry-pie-cheesecake.webp);
    background-size: cover;
    background-position: center;
}
#item2, #item4, #item5, #item7,#item10,#item12{
    padding: 30px 20px 30px 20px;
}
#item2 h3, #item4 h3, #item5 h3, #item7 h3,#item10 h3,#item12 h3{
    font-size: 22px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    color: rgb(67, 67, 67);
    padding-bottom: 15px;
}
#item2 p, #item4 p, #item5 p, #item7 p,#item10 p,#item12 p{
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    color: rgb(67, 67, 67);
    padding-bottom: 15px;
}
#item5,#item7{
    width: 292px;
}
.item button{
    padding: 10px 15px 10px 15px;
    border: 0px;
    border-radius: 2px;
    color: white;
    background-color: rgba(206, 171, 83, 0.8);
}