*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 20px;
}
.box{
    height: 150px;
    width: 150px;
}
#box1{
    background-color: rgb(255, 43, 43);
    position: relative;
    top: 50px;
}
/* #box2{
    background-color: rgb(45, 206, 255);
    position: relative;
    margin: 20px 0px 0px 20px;
} */